version: '3.4'

services:
  seekq.chat.api:
    image: ${DOCKER_REGISTRY-}seekqchat
    build:
      context: .
      dockerfile: SeekQ.Chat.Api/Dockerfile
    environment:
      ASPNETCORE_ConnectionStrings__MONGODB: "mongodb+srv://dbUser:mongouser@cluster0.gbaf1.mongodb.net/test"
    depends_on:
    - mongodb

  mongodb:
    image: mongo:latest
    container_name: chatdb
    environment:
      MONGO_INITDB_ROOT_USERNAME: dbUser
      MONGO_INITDB_ROOT_PASSWORD: mongouser
    ports:
        - 27017:27017